<div class="d-flex align-items-center mb-4">
    <button class="btn btn-outline-purple rounded-circle mr-3" routerLink="/courses">
        <i class="fas fa-arrow-left"></i>
    </button>

    <h1 class="mb-0">Course: {{course.name}}</h1>
</div>

<h2 class="mb-3">Description</h2>
<p>{{course.description}}</p>

<div class="d-flex align-items-center my-4">
    <button class="btn btn-outline-purple rounded-circle mr-3" routerLink="/students/new" [queryParams]="{ cid: course.id }">
        <i class="fas fa-plus"></i>
    </button>
    
    <h2 class="mb-0">Students <span class="badge badge-purple">{{course.students?.length}}</span></h2>
</div>

<div class="alert alert-purple" role="alert" *ngIf="!course.students?.length">
    <h4 class="alert-heading">Oh no!!</h4>
    <p>No students found! <a class="font-weight-bold" routerLink="/students/new">Click here</a> to register a new student.</p>
</div>

<div class="row" *ngIf="course.students?.length">
    <div class="col-sm-4 py-3" *ngFor="let student of course.students">
        <a class="card bg-gray" [routerLink]="['/students', student.id, 'edit']">
            <div class="card-body">
                <h5 class="card-title text-truncate">{{studentShortName(student)}}</h5>
                <p class="card-text mb-0">
                    {{student.birthday |date:'dd/MM/yyyy'}} - {{studentAge(student, 'years')}}
                </p>
                <p class="card-text mb-0">{{student.email}}</p>
            </div>
        </a>
    </div>
</div>